.postContainer{
    display: flex;
    /* width: 806px; */
    /* height: 590px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.post{
    display: flex;
    /* width: 765px;
    height: 468px; */
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 16px;
background: var(--gray-0210, #FFF);
width: 100%;
    
}

.user{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.profilePicContainer{
    width: 48px;
    height: 48px;
}

.profilePic{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.postUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.postUserName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin: 0;
}

.postUserJobTitle{
    color: var(--gray-0270, #757575);

    /* Body Text/Inter/12/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    margin: 0;
}

.jobTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.jobTimerImg{
    width: 12px;
    height: 12px;
}

.jobTime{
    color: var(--gray-02100, #0A0A0A);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    margin: 0;
}

.addPostSettings{
    width: 32px;
    height: 32px;
}

.postContent{
    color: var(--gray-02100, #0A0A0A);
    align-self: stretch;
/* Body Text/Inter/16/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.postImg{
    /* height: 400.5px; */
    max-width: 100%;
    height: auto;
flex-shrink: 0;
align-self: stretch;
background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.reactionBtns{
    display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.avatars{
    width: 86px;
height: 32px;
}

.avatar{
    width: 27.664px;
    height: 27.259px;
    flex-shrink: 0;
}

.postComments{
    color: var(--gray-02100, #0A0A0A);
font-family: DM Sans;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 240% */
letter-spacing: -0.2px;
margin: 0;
}

.actionBtns{
    display: flex;
    align-items: flex-start;
    gap: 19px;
    cursor: pointer;
}


.actionBtn{
    display: flex;
padding: 8px;
align-items: center;
gap: 12px;
border-radius: 50px;
background: var(--gray-0220, #F5F5F5);
}

.actionIcon{
    width: 20px;
    height: 20px;
}

.actionText{
    color: var(--gray-02100, #0A0A0A);
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
margin: 0;
}

.comments,.commentForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    border-radius: 23rem;
    background: rgba(96,77,207,0.1);
}

.commentText{
    margin: 0;
}

.commentTime{
    font-size: 10px;
    color: var(--gray-02100, #0A0A0A);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    margin: 0;
    display: grid;
    place-content: center;
}

.commentInput{
    width: 80%;
    padding: 0.3rem;
    border: none;
    border-radius: 1rem;
}

.commentSubmit{
    all:unset;
}


.postMedia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 0.5rem; 
  }
  
  .postMedia img {
    width: 100%;
    height: 100%;
    border-radius: 8px; 
  }
  
  

@media screen and (max-width: 750px) {

    .actionText{
        display: none;
    }
    
}

.postOptionsDropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
  }
