h1{
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.formContent{
    width: 25%;
}

.formInput{
   border-radius: 1rem;
}

.errors{
    color: red;
    font-weight: bold;
}

.signInBtn, .signInBtn:hover {
display: flex;
width: 300px;
height: 50px;
/* width: 25%; */
padding-right: 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
background: #7F61A9;
margin-top: 2rem;

}

.dividerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.divider{
    border-top: 1px solid black ;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.dividerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}

.googleSignIn{
 display: flex;
 margin: auto;
 flex-direction: row;
 /* justify-content: center;
 align-items: center; */
 gap:1rem;
 border: 1px solid black;
 padding: 0 1rem;
 border-radius: 10px;
 width: 25%;
 height: 50px
}

