.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    margin: 1rem;
}

.errors{
    color: red;
    font-weight: bold;
}