.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.errors{
    color: red;
    font-weight: bold;
}

.googleSignIn{
    border: 5px solid black;
    font-size: 1rem;
}